* {
  box-sizing: border-box;
}
body {
  background-color: hsl(212, 45%, 89%);
}
 .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 
.whitebox {
  width: 250px;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%)
}
.textone {
  color: hsl(218, 44%, 22%);
  font-weight: bold;
  font-size: 20px; 
  font-family: 'Outfit', sans-serif;
}
.texttwo {
  color: hsl(220, 15%, 55%);
  font-size: 15px; 
  font-family: 'Outfit', sans-serif;
}
.image {
  width: 100%;
  border-radius: 7px;
  padding: 2px;
}